<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctortech.fhq.repository.mapper.common.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.doctortech.fhq.entity.jpa.common.Role">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
    </resultMap>

    <resultMap id="roleBean" type="com.doctortech.fhq.bean.RoleBean">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="user" property="createUser" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
    </resultMap>


    <sql id="Base_Column_List">
        id,code,name,description, deleted, version,create_time,
        update_time, create_user_id,update_user_id
    </sql>

    <select id="getRolesList" resultMap="roleBean" parameterType="com.doctortech.fhq.bean.MenuResources">
        select r.id, r.name,r.code,r.description,r.name as user ,DATE_FORMAT(r.create_time,'%Y-%m-%d %H:%i:%s') create_time
        from sys_role r left join sys_user u on r.create_user_id= u.id where 1=1
        <if test="name!=null and name!='' ">
            and r.name like #{name} escape '/'
        </if>
        <if test="code!=null and code!='' ">
            and r.code like #{code} escape '/'
        </if>
        order by r.create_time desc
    </select>
</mapper>
